* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;


    width: 100vw;
    height: 100vh;
}

#main {
    display: flex;
    justify-content: center;

    flex-direction: row;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mid {
    display: flex;
    flex-direction: column;

    margin: 10px;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pokemon-pane {
    display: flex;
    padding: 10px;
    background-color: red;
    border: 5px outset rgb(200, 17, 17);
}

#pp-left {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#pp-right {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#search {
    display: flex;
    justify-content: flex-end;
}

#pokemon-search-form {
    background-color: grey;
}

#pokemon-search-input::placeholder {
    color: black;
}
#pokemon-search-form > * {
    background-color: grey;
    border: none;
}

#search-btn {
    border: 3px outset grey;
}

#img-btns {
    display: flex;
    justify-content: space-evenly;

}

#pp-name {
    padding: 5px;
}

#stats-div {
    border: 2px dashed black;
    border-radius: 10px;
    padding: 10px;
}

#pp-types li {
    text-align: center;
    height: 25px;
    border-radius: 12.5px;
    border: 3px solid black;
}

#pp-img {
    border: 10px ridge grey;
    border-radius: 10px;
}
