:root {
    --primary-colour: #333;
    --secondary-colour: grey;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    cursor: url("../images/cursors/pokeball_closed.png"), auto;
}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--secondary-colour);

    width: 100vw;
    height: 100vh;
}

#main {
    display: flex;
    justify-content: center;

    flex-direction: row;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mid {
    display: flex;
    flex-direction: column;

    margin: 10px;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pokemon-pane {
    display: flex;
    padding: 10px;
    background: var(--primary-colour);
    color: var(--secondary-colour);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);

    width: 600px;
    height: 400px;
}

#pp-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 50%;

    flex-grow: 1;
}

#pp-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
    width: 50%;
}

#search {
    display: flex;
    justify-content: flex-end;
}

#pokemon-search-form {
    background-color: var(--primary-colour);
}

#pokemon-search-form > * {
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
    border: none;
}

#search-btn {
    border: 3px outset var(--primary-colour);
}

#img-btns {
    display: flex;
    align-items: center;
    width: 100%;
}

#pp-name {
    padding: 5px;
}

#stats-div {
    border: 2px dashed var(--secondary-colour);
    border-radius: 10px;
    padding: 10px;
}

#pp-types li {
    text-align: center;
    padding: 5px 10px;
    border-radius: 20px;
    border: 3px solid var(--secondary-colour);
    color: var(--secondary-colour);
    margin: 10px;
}

#pp-types {
    display: flex;
}

#pp-img {
    border: 7px solid var(--secondary-colour);
    border-radius: 10px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);

    flex-grow: 1;
}

#dec-pokemon-btn {
    width: 30px;
}

#inc-pokemon-btn {
    width: 30px;
    transform: rotate(180deg);
}

#next-img-btn {
    width: 32px;
    height: 32px;
    transform: rotate(90deg);
    fill: var(--secondary-colour);
}

#last-img-btn {
    width: 32px;
    height: 32px;
    transform: rotate(270deg);
    fill: var(--secondary-colour);
}

.hover {
    cursor: url("../images/cursors/pokeball_open.png"), auto;
}

td.center-text {
    text-align: center;
}

td {
    width: 50%;
}

table {
    width: 100%;
}
